<form action="/solicitar" method="POST">
    <p>Nome: <input type="text" name="nome" required></p>
    <p>matricula: <input type="text" name="matricula" required></p>
    <p>setor: <input type="text" name="setor" required></p>
    <p>tipo: <input type="text" name="tipo" required></p>
    <p>prioridade: <input type="text" name="prioridade" required></p>
    <p>descricao: <input type="text" name="descricao" required></p>
    <button type="submit">Submit</button>
</form>